<!--The content below is only a placeholder and can be replaced.-->
<header align="center" >
  <h1 style="color:lightcoral">
    {{ title }}
  </h1>
</header>
<div class="float-left btn-group-vertical" >
  <button class="btn btn-warning" type="submit"><a routerLink = "add-employee" style="color:white">Add</a></button> <br/>
  <button class="btn btn-warning" type="submit"><a routerLink = "display-employee" style="color:white">Display</a></button> <br/>
  <button class="btn btn-warning" type="submit"><a routerLink = "app-update" style="color:white">Update</a></button> <br/>
  <button class="btn btn-warning" type="submit"><a routerLink = "app-delete" style="color:white">Delete</a></button> <br/>
</div>
<router-outlet></router-outlet>
<div> 
</div>
