<!DOCTYPE html>
<html>

<head>
  <title>Registration</title>
</head>

<body>

       <!--Alert Message when employee data is added-->
  <div class="alert" *ngIf='isValid'>
    <strong>{{message}}</strong>
  </div>

  <!--Registration Form to add employee data base-->
      
  <form class="container col-sm-4" #myForm="ngForm" (ngSubmit)="addEmployee(myForm)">
    <h3 style="color:whitesmoke">Registration Form</h3>

    <div class="form-group">
      <input class="form-control" type="text" placeholder="First Name" [(ngModel)]="fnameText" required
        pattern="^[A-Za-z\s]{1,}[\.]{0,1}[A-Za-z\s]{0,}$" name="fname" #fname="ngModel" ngModel />
      <span style="color:red" *ngIf="fname.invalid && fname.touched">First Name required</span>
    </div>

    <div class="form-group">
      <input class="form-control" type="text" placeholder="Middle Name" [(ngModel)]="mnameText" required
        pattern="^[A-Za-z\s]{1,}[\.]{0,1}[A-Za-z\s]{0,}$" name="mname" #mname="ngModel" ngModel />
    </div>

    <div class="form-group">
      <input class="form-control" type="text" placeholder="Last Name" [(ngModel)]="lnameText" required
        pattern="^[A-Za-z\s]{1,}[\.]{0,1}[A-Za-z\s]{0,}$" name="lname" #lname="ngModel" ngModel />
      <span style="color:red" *ngIf="lname.invalid && lname.touched">Last Name required</span>
    </div>

    <div class="form-group">
      <input class="form-control" type="email" placeholder="Email" [(ngModel)]="email" required
        pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" name="email" #eml="ngModel" ngModel />
      <span style="color:red" *ngIf="eml.invalid && eml.touched">Email required</span>
    </div>

    <div class="form-group">
      <input class="form-control" type="number" placeholder="Mobile" [(ngModel)]="mobile" required
        pattern="[7-9][0-9]{9}" name="mobile" #mob="ngModel" ngModel />
      <span style="color:red" *ngIf="mob.invalid && mob.touched">Mobile required</span>
    </div>

    <div class="form-group">

      <input class="form-control" type="password" placeholder="Password" [(ngModel)]="pswdPassword" required name="pswd"
        #pswd="ngModel" ngModel />
      <span style="color:red" *ngIf="pswd.invalid && pswd.touched">Password required</span>
    </div>

    <div class="form-group">
      <input class="form-control" type="password" placeholder="Confirm Password" [(ngModel)]="cpswdPassword" required
        name="cpswd" #cpswd="ngModel" ngModel />
      <span style="color:red" *ngIf="cpswd.invalid && cpswd.touched">Password Mismatch</span>
    </div>


    <button type="button" class="btn">Add</button>
     <button type="reset" id="reset" class="btn">Reset</button>

  </form>
</body>



</html>